<a href="https://colab.research.google.com/github/coderanandmaurya/Random-Forest/blob/main/OOB_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

In [11]:
URL="https://raw.githubusercontent.com/coderanandmaurya/Random-Forest/main/heart.csv"
df = pd.read_csv(URL)
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [12]:
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
rf = RandomForestClassifier(oob_score=True)

In [15]:
rf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

RandomForestClassifier(oob_score=True)

In [16]:
rf.oob_score_

0.78099173553719

In [17]:
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.8524590163934426